@import "globals.css";

/* START HERO */
.church-programs-hero {
    background-image: url("../images/church-programs-hero-image.png");
    height: 500px;
    background-size: cover;
    background-position: center center;
    margin-top: 120px;
    overflow: hidden;
}

.church-programs-hero-title {
    color: #ffffff;
    text-align: center;
    margin-top: 150px;
    font-size: 43px;
}

.church-programs-hero-subtitle {
    color: #ffffff;
    text-align: center;
    font-weight: lighter;
}

/* END HERO */

/* START WHATS IMPORTANT SECTION */
.church-programs-important-title {
    text-align: center;
    margin: 30px auto;
    font-family: "Bodoni 72 Oldstyle";
    font-weight: lighter;
    font-size: 30px;
}

.church-programs-important-subtitle {
    font-family: "Bodoni 72 Oldstyle";
    font-size: 22px;
}

.church-programs-important-list {
    font-family: "Cochin";
    font-size: 18px;
}

.church-programs-important-wrapper {
    max-width: 700px;
    margin: 0 auto;
}

.church-programs-important-body {
    margin: 50px auto;
    font-family: "Cochin";
    line-height: 25px;
    font-size: 18px;
}

/* END WHATS IMPORTANT SECTION */

/* START MAGIC BIBLE SECTION */

.magic-bible-title {
    text-align: center;
    margin-top: 50px;
    font-family: "Bodoni 72 Oldstyle";
    font-weight: lighter;
    font-size: 35px;
}

.magic-bible-subsection-1 {
    display: flex;
    flex-direction: row;
    max-width: 900px;
    margin: 0 auto;
}

.magic-bible-image {
    width: 300px;
}

.magic-bible-subsec1-text {
    padding-right: 50px;
    font-size: 18px;
    font-family: "Cochin";
    line-height: 25px;
}

.magic-bible-text {
    width: 900px;
    margin: 0 auto;
    font-family: "Cochin";
    line-height: 25px;
    font-size: 18px;
}

.magic-bible-subtitle {
    width: 900px;
    margin: 30px auto;
    font-family: "Bodoni 72 Oldstyle";
    font-size: 30px;
    font-weight: lighter;
}

.magic-bible-subsection-2 {
    margin: 50px auto;
}

/* END MAGIC BIBLE SECTION */

/* START BREAKPOINTS */

/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

@media (max-width: 576px) {

    /* START HERO */
    .church-programs-hero {
        margin-top: 20px;
    }
    /* END HERO */
    
    /* START WHATS IMPORTANT */

    .church-programs-important-wrapper {
        width: 90%;
    }

    /* END WHATS IMPORTANT */

    /* START MAGIC BIBLE */

    .magic-bible-title {
        width: 90%;
        margin: 40px auto 20px auto;
    }

    .magic-bible-subsec1-text {
        padding: 0;
    }

    /* END MAGIC BIBLE */

}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

    /* START HERO */
    .church-programs-hero-title {
        font-size: 35px !important;
        width: 90%;
        margin: 150px auto 30px auto;
    }
    /* END HERO */

    /* START MAGIC BIBLE */

    .magic-bible-subsection-1 {
        flex-direction: column;
    }

    .magic-bible-subsec1-images-wrapper {
        display: flex;
        flex-direction: row;
        margin: 30px auto 0px auto;
    }
    
    .magic-bible-image {
        width: 50%;
    }

    /* END MAGIC BIBLE */


}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {

    /* START MAGIC BIBLE */
    .magic-bible-subsection-1, .magic-bible-subsection-2 {
        width: 90%;
    }

    .magic-bible-text, .magic-bible-subtitle {
        width: auto;
    }
    /* END MAGIC BIBLE */

}


/* END BREAKPOINTS */