@import "globals.css";


/* START HERO */

.comedy-magic-hero {
    margin-top: 120px;
    background-image: url("../images/comedy-magic-hero-image.png");
    height: 600px;
    background-size: cover;
    background-position: center center;
    top: 120px; /* header height */
    right: 0;
    left: 0;
    overflow: hidden;
    background-color: #1d1d1ddc;
}

.comedy-magic-hero-title {
    color: #ffffff;
    text-align: center;
    font-size: 69px;
    font-weight: lighter;
    margin-top: 100px;
}

.comedy-magic-hero-subtitle {
    width: 700px;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
}

/* END HERO */

/* START VIDEO CARD */

.comedy-magic-video-card {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
}

.comedy-magic-video {
    height: 450px;
    width: 600px;
    outline: 1px solid black;
}

.video-card-body {
    margin-right: 70px;
}

.video-card-heading {
    text-align: center;
    font-family: "Copperplate";
}

.video-card-text {
    width: 400px;
    font-family: "Cochin";
    letter-spacing: 0.6px;
    font-size: 15px;
    line-height: 25px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid hsl(218, 42%, 42%);
}

/* END VIDEO CARD */

/* START TESTIMONIALS */

.testimonials-wrapper {
    background-image: url("../images/comedy-magic-testimonials-image.png");
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

.t-card-1 {
    grid-area: card1;
}

.t-card-2 {
    grid-area: card2;
}

.t-card-3 {
    grid-area: card3;
}

.t-card-4 {
    grid-area: card4;
}

.t-card-5 {
    grid-area: card5;
}

.testimonial-cards-wrapper {
    width: 1000px;
    display: grid;
    grid-template-areas: 
        'card1 card2 card3'
        'card4 card4 card5';
    row-gap: 50px;
    column-gap: 50px;
    margin: 100px auto;
}

.testimonial-card {
    background-color: #ffffff;
}

.testimonial-card > hr {
    width: 100px;
    margin-top: 30px;
    border: 1px solid #1A3152;
}

.testimonial-card-body {
    padding: 20px 40px 40px 40px;
    font-family: "Cochin";
    letter-spacing: 0.43px;
}

.testimonial-card-name {
    text-align: center;
    font-family: "Copperplate";
    font-size: 20px;
}

.testimonial-card-position {
    text-align: center;
    font-family: "Copperplate";
    width: 80%;
    margin: 0 auto;
}

/* END TESTIMONIALS */

/* START STAGE SHOW */

#comedy-magic-stage-show-section {
    height: 1300px;
}

.stage-show-title {
    font-size: 75px;
    text-align: center;
    margin-bottom: 0px;
}

.stage-show-subtitle {
    font-size: 35px;
    text-align: center;
    letter-spacing: .5px;
    margin-top: 0px;
}

.stage-show-body-wrapper {
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin: 0 auto;
}

.stage-show-body-text {
    margin-left: 50px;
    font-family: "Cochin";
    font-size: 20px;
}

.stage-show-wakeitup-wrapper {
    width: 1000px;
    margin: 0 auto;
}

/* END STAGE SHOW */

/* START WAKEITUP */

.wakeitup-title {
    font-size: 40px;
    font-family: "Bodoni 72 Oldstyle";
    font-weight: lighter;
    margin-left: 20px;
    margin-right: 20px;
}

.wakeitup-text {
    font-family: "Cochin";
    font-size: 20px;
    font-weight: lighter;
    margin-left: 20px;
    margin-right: 20px;

}

.wakeitup-bold {
    font-weight: bold;
}

/* END WAKEITUP */

/* START CLOSE-UP */

#comedy-magic-close-up-section {
    background-color: #213351;
    overflow: hidden;
    border-bottom: 2px solid #ffffff;
}

.close-up-title {
    font-family: "Bodoni 72 Oldstyle;";
    font-size: 55px;
    color: #ffffff;
    font-weight: lighter;
    letter-spacing: .68px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;
}

.close-up-subtitle {
    font-family: "Bodoni 72 Oldstyle;";
    font-size: 25px;
    color: #ffffff;
    font-weight: lighter;
    letter-spacing: 0.32px;
    text-align: center;
    margin-top: 0px;
}

.close-up-body-wrapper {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    width: 1200px;
    margin: 70px auto 0px auto;
}

.close-up-body-text {
    font-family: "Cochin";
    font-size: 20px;
    font-weight: lighter;
    margin-right: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.close-up-body-image {
    margin-right: 20px;
}

.close-up-ideas-title {
    font-family: "Bodoni 72 Oldstyle";
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.32px;
    font-weight: lighter;
    margin-top: 100px;
}

.ideas-card-title {
    font-family: "Bodoni 72 Oldstyle";
    font-size: 23px;
    color: #0C1829;
    text-align: center;
    letter-spacing: 0.23px;
    font-weight: lighter;
}

.ideas-card-text {
    font-family: "Cochin";
    font-size: 17px;
    color: #0C1829;
    text-align: center;
    padding: 0px 30px;
}

.close-up-cards-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    margin: 50px auto;
}

.close-up-card {
    width: 280px;
    height: 390px;
    background-color: #ffffff;
}


/* END CLOSE-UP */










