
/* Stupid HTML borders */
html, body {
    padding: 0px;
    margin: 0px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

/* Selection Color */
::-moz-selection {
    background: #e6e6e6;
}
::selection {
    background: #e6e6e6;
}


/* START NAVIGATION  */
.header {

    /* Styling */
    height: 120px;
    background-color: #0C1829;
    overflow: hidden;
    box-shadow: 0px 8px 13px #00000048;
    
    /* Positioning */
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;

    /* Sticky */
    /* position: fixed;
    top: 0;
    width: 100%;
    z-index: 4; */
}

.nav {
    color: white;

    /* Flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    /* Styling */
    list-style: none;
    
    /* Pos */
    width: 500px;

    /* height: 100%; */
    margin-left: auto;
    margin-right: 50px;
    font-family: "Malayalam Sangam MN";
    font-size: 20px;

}

.nav-link a {
    text-decoration: none;
    color: hsl(218, 42%, 82%);
    letter-spacing: 1px;
    padding: 8px;
}

.nav-link br {
    display: none;
}

.nav-link.active a {
    color: white;
}

.nav-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.logo {
    font-family: "Arial Black";
    font-size: 26px;
    color: white;
    margin-left: 50px;
}

.nav-dropdown {
    display: none;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 120px; */
    margin-right: 30px;
}

.social-icon {
    height: 25px;
    margin-right: 10px;
}
/* END NAVIGATION  */


/* START TYPOGRAPHY  */

.hero-title {
    font-family: "Bodoni 72 Oldstyle";
    letter-spacing: 5px;
    font-weight: lighter;
}

.hero-subtitle {
    font-family: "Copperplate";
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .55px;
    line-height: 30px;
}

/* END TYPOGRAPHY  */

/* START CARD  */

.card {
    box-shadow: 0px 3px 6px #00000067;
}

/* END CARD  */

/* START QUOTE BANNER  */

.quote-banner {
    background-color: #213351;
    overflow: hidden;
    font-family: "Cochin";
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 50px 100px 50px 100px;
}

.quote-author {
    font-family: "Malayalam Sangam MN";
    color: white;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    margin-top: 70px;
}

.quote-body {
    color: #ffffff;
    text-align: center;
    /* width: calc(100% - 400px); */
}

.open-quote, .close-quote {
    position: absolute;
}

.open-quote {
    margin-top: -10px;
}

.close-quote {
    margin-left: calc(100% - 300px);
    margin-top: -180px;
}

/* END QUOTE BANNER  */

/* START FOOTER  */

.footer {
    height: 102px;
    width: 100%;
    background-color: #213351;
    color: white;
    font-size: 16px;
    font-family: "Cochin";
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer br {
    display: none;
}

/* END FOOTER  */

/* START MISC  */
.drop-shadow {
    box-shadow: 0px 11px 24px #00000072;
}

.bold {
    font-weight: bold;
}

/* END MISC  */

/* START BREAKPOINTS */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /* START NAV */

    .header {
        height: 70px !important;
        justify-content: center;
        padding-top: 0px !important;
    }

    .nav-dropdown {
        display: block;
    }

    .nav {
        display: none;
    }

    .social-icons {
        display: none;
    }

    .nav-link {
        margin: 7px auto;
    }

    /* END NAV */


    /* START QUOTE BANNER */
    .quote-banner {
        padding-left: 50px;
        padding-right: 50px;
    }

    .close-quote {
        margin-left: calc(100% - 175px);
    }

    /* END QUOTE BANNER */

    /* START FOOTER */

    .footer {
        text-align: center;
    }

    .footer br {
        display: block;
    }

    /* END FOOTER */
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767.98px) {

    /* START HEADER */

    .header {
        flex-direction: column;
        height: 170px;
        padding-top: 20px;
    }

    .logo-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;
    }

    .logo-wrapper img {
        width: 20px;
    }

    .social-icons {
        margin-right: 0px;
        width: 150px;
    }

    .nav {
        padding: 0px;
        margin: 30px 20px;
    }

    .logo {
        margin: 0px auto;
    }

    /* END HEADER */

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* START NAV */
    .nav-link {
        font-size: 15px;
        text-align: center;
    }

    .logo {
        font-size: 20px;
    }

    .nav-link a {
        padding: 0px;
    }

    .nav-link br {
        display: block;
    }

    /* END NAV */

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    /* START NAVIGATION  */

    .nav {
        font-size: 18px;
    }

    /* END NAVIGATION */

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}