@import "globals.css";


.golf-magic-hero {
    margin-top: 120px;
    background-image: url("../images/golf-magic-hero-image.png");
    height: 600px;
    background-size: cover;
    background-position: center center;
    top: 120px; /* header height */
    right: 0;
    left: 0;
    overflow: hidden;
}

#golf-magic-work-info-section {
    height: 1000px;
}

.work-info-card {
    width: 1200px;
    /* height: 600px; */
    background-color: #1A3152;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    text-align: center;
    padding: 50px 0px;
}

#golf-magic-spice-up-section {
    height: 800px;
}

.golf-magic-hero-title {
    font-size: 69px;
    margin-top: 50px;
    color: #ffffff;
    text-align: center;
    margin-top: 90px;
}

.golf-magic-hero-subtitle {
    color: #ffffff;
    text-align: center;
    font-size: 25px;
}

.work-info-intro {
    font-size: 30px;
    font-family: "Bodoni 72 Oldstyle";
    text-align: center;
    width: 1000px;
    font-weight: lighter;
    margin: 80px auto 30px auto;
}

.work-intro-list {
    list-style: none;
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}

.work-info-card-section {
    color: #ffffff;
    width: 500px;
    /* height: 300px; */
    text-align: center;
    margin: 0 auto;
}

.work-info-card-title {
    font-family: "Cochin";
    font-weight: bold;
    font-size: 19px;
}

.work-info-card-text {
    text-align: left;
    font-family: "Cochin";
    font-size: 17px;
    font-weight: lighter;
}

.golf-magic-quotation-body {
    color: #ffffff;
    text-align: center;
    width: calc(100% - 400px);
    margin: 130px auto 0px auto;
}

#golf-magic-quote-banner > div {
    height: 450px;
}

.spice-up-body-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
    margin: 50px auto;
}

.spice-up-body-text {
    /*text-align: center;*/
    margin-right: 50px;
    width: 500px;
    font-family: "Cochin";
    font-size: 20px;
    font-weight: lighter;
}

.spice-up-title {
    font-family: "Bodoni 72 Oldstyle";
    font-size: 65px; 
    font-weight: lighter;
    text-align: center;
}
