@import "globals.css";

/* START HERO */

.golf-magic-hero {
  margin-top: 120px;
  background-image: url("../images/golf-magic-hero-image.png");
  height: 600px;
  background-size: cover;
  background-position: center center;
  top: 120px; /* header height */
  right: 0;
  left: 0;
  overflow: hidden;
}

.golf-magic-hero-title {
  font-size: 69px;
  margin-top: 50px;
  color: #ffffff;
  text-align: center;
  margin-top: 90px;
}

.golf-magic-hero-subtitle {
  color: #ffffff;
  text-align: center;
  font-size: 25px;
}

/* END HERO */

/* START WORK INFO */

.work-info-card {
  max-width: 1200px;
  /* height: 600px; */
  background-color: #1a3152;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  text-align: center;
  padding: 50px 0px;
}

.work-info-intro {
  font-size: 30px;
  font-family: "Bodoni 72 Oldstyle";
  text-align: center;
  width: 1000px;
  font-weight: lighter;
  margin: 80px auto 30px auto;
}

.work-intro-list {
  list-style: none;
  text-align: center;
  line-height: 60px;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
}

.work-info-card-section {
  color: #ffffff;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

.work-info-card-title {
  font-family: "Cochin";
  font-weight: bold;
  font-size: 19px;
}

.work-info-card-text {
  text-align: left;
  font-family: "Cochin";
  font-size: 17px;
  font-weight: lighter;
}

/* END WORK INFO */

/* START SPICE IT UP */

.spice-up-body-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  margin: 50px auto;
}

.spice-up-body-text {
  /*text-align: center;*/
  margin-right: 50px;
  width: 500px;
  font-family: "Cochin";
  font-size: 20px;
  font-weight: lighter;
}

.spice-up-title {
  font-family: "Bodoni 72 Oldstyle";
  font-size: 65px;
  font-weight: lighter;
  text-align: center;
}

/* END SPICE IT UP */

/* START BREAKPOINTS */

/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 375px) {

    /* START HERO */

    .golf-magic-hero {
        margin-top: 20px;
        background-image: url("../images/golf-magic-hero-image-mobile.png");
    }

    .golf-magic-hero-title {
        margin-top: 150px;
        font-size: 60px;
    }

    .golf-magic-hero-subtitle {
        width: 90%;
        margin: 20px auto;
        font-size: 20px;
    }

    /* END HERO */

    /* START WORK INFO */
    
    .work-info-intro {
        width: 90%;
    }

    .work-intro-list {
        width: 90%;
        text-align: left;
        font-size: 22px;
        padding: 0px;
        margin: 0 auto;
    }

    .work-info-card {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .work-info-card-section {
        width: 80%;
    }

    /* END WORK INFO */

    /* START SPICE IT UP */

    .spice-up-title {
        font-size: 60px;
        width: 90%;
        margin: 40px auto 0px auto;
    }

    .spice-up-body-wrapper {
        width: 90%;
        flex-direction: column;
        margin-top: 20px;
    }

    .spice-up-body-text {
        width: 100%;
    }

    .spice-up-body-image {
        width: 300px;
        margin: 0 auto;
    }

    /* END SPICE IT UP */
}

@media (max-width: 576px) {

    /* START HERO */

    .golf-magic-hero {
        margin-top: 20px;
    }

    .golf-magic-hero-title {
        margin-top: 150px;
    }

    .golf-magic-hero-subtitle {
        width: 90%;
        margin: 20px auto;
    }

    /* END HERO */

    /* START WORK INFO */
    
    .work-info-intro {
        width: 90%;
    }

    .work-intro-list {
        width: 90%;
    }

    .work-info-card {
        width: 100%;
    }

    .work-info-card-section {
        width: 80%;
    }

    .work-intro-list {
        margin: 0 auto;
        padding: 0;
    }
    
    .work-info-card {
        grid-template-columns: 1fr;
    }

    /* END WORK INFO */


    /* START SPICE IT UP */

    .spice-up-body-wrapper {
        width: 90%;
        flex-direction: column;
    }

    .spice-up-body-image {
        width: 400px;
        margin: 0 auto;
    }

    .spice-up-body-text {
        width: 90%;
        margin: 0 auto;
    }

    .spice-up-body-image {
        width: 70%;
        height: auto !important;
        margin-top: 30px;
    }

    /* END SPICE IT UP */

}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

    /* START HERO */
    .golf-magic-hero-title {
        width: 90%;
        margin: 150px auto 30px auto;
    }
    /* END HERO */

    /* START WORK INFO */
    
    .work-info-intro {
        width: 90%;
    }

    .work-intro-list {
        width: 90%;
    }

    .work-info-card {
        width: 100%;
    }

    .work-info-card-section {
        width: 80%;
    }

    /* END WORK INFO */

    /* START SPICE IT UP */

    .spice-up-body-wrapper {
        width: 90%;
    }

    .spice-up-body-image {
        height: 400px;
    }

    /* END SPICE IT UP */

}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {

    /* START WORK INFO */

    .work-info-intro {
        width: 90%;
    }

    .work-intro-list {
        width: 90%;
    }

    .work-info-card {
        width: 90%;
    }

    .work-info-card-section {
        width: 80%;
    }

    /* END WORK INFO */

    /* START SPICE IT UP */

    .spice-up-body-wrapper {
        width: 90%;
    }

    .spice-up-body-image {
        height: 400px;
    }

    /* END SPICE IT UP */

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* END BREAKPOINTS */
