
@import "globals.css";

/* START HERO */

.homepage-hero {
    margin-top: 120px;
    background-image: url("../images/homepage-hero-image.jpg");
    height: 600px;
    background-size: cover;
    background-position: center center;
    top: 120px; /* header height */
    right: 0;
    left: 0;
    overflow: hidden;
}

.homepage-hero-title {

    /* Styling */
    line-height: 95px;
    font-size: 80px;
    color: #ffffff;
    
    /* Position */
    position: absolute;
    left: 220px;
}

.homepage-hero-subtitle {

    /* Styling */
    color: white;
    width: 430px;
    /*text-align: center;*/

    /* Position */
    position: absolute;
    left: 220px;
    top: 470px;
}

/* END HERO  */

/* START HOMEPAGE CARDS */
.homepage-cards-wrapper {
    display: flex;
    flex-direction: row;
    margin: 30px auto;
    max-width: 1150px;
    justify-content: space-between;

}

.homepage-card {
    margin: auto 10px;
}

.card-icon-wrapper {
    height: 50px;
}

.card-img {
    width: 40px;
    margin: 40px auto 0px auto;
    display: block;
}

.card-title {
    font-family: "Copperplate";
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
}

.card-body {
    font-family: "Malayalam Sangam MN";
    text-align: center;
    margin: 0px 20px 25px 20px;
    letter-spacing: 0.8px;
    font-size: 18px;
    line-height: 28px;
}

/* END HOMEPAGE CARDS */

/* START QUOTATION */

.homepage-quotation-author {
    margin-top: 80px;
}

/* END QUOTATION */

/* START BIO */
#homepage-bio-section {
    overflow: hidden;
    margin: 0px auto 90px auto;
}

.homepage-bio {
    max-width: 1000px;
    margin: 70px auto auto auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}

.homepage-bio-body {
    width: 500px;
    font-family: "Cochin";
    font-size: 24px;
    font-weight: lighter;
    letter-spacing: 0.78px;
    /*text-align: center;*/
    line-height: 45px;
}

/* END BIO */

/* START CONTACT */

.homepage-contact {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.homepage-contact-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.homepage-contact-icon {
    margin-right: 20px;
}

.homepage-contact-info {
    text-decoration: none;
    color: #0C1829;
    font-size: 22px;
}
.homepage-contact-info:hover {
    color: hsl(215, 55%, 40%);
}

/* END CONTACT */

/* START BREAKPOINTS */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /* START HERO */

    .homepage-hero {
        background-image: url("../images/homepage-hero-image-mobile.png");
        margin-top: 70px;
    }

    .homepage-hero-title {
        position: initial;
        margin: 90px auto 30px auto;
        font-size: 60px;
        line-height: 70px;
        text-align: center;
    }

    .homepage-hero-subtitle {
        position: initial;
        text-align: center;
        margin: 0 20px;
        font-size: 18px;
        width: auto;
    }

    /* END HERO */

    /* START CARDS */ 

    .homepage-cards-wrapper {
        flex-basis: 200px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .homepage-card {
        /* width: 265px; */
        margin-top: 30px;
    }

    /* END CARDS */

    /* START BIO */

    .homepage-bio {
        flex-direction: column;
    }

    .homepage-bio > img {
        width: 300px;
    }

    .homepage-bio-body {
        font-size: 20px;
        line-height: 35px;
        width: 90%;
    }

    .homepage-contact {
        width: 100%;
    }

    .homepage-contact-wrapper {
        justify-content: center;
    }

    .homepage-contact-info {
        font-size: 18px;
    }

    .homepage-contact-icon {
        height: 20px;
    }
    

    /* END BIO */

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    /* START HERO */

    .homepage-hero {
        background-image: url("../images/homepage-hero-image-mobile.png");
    }

    .homepage-hero-title {
        position: initial;
        margin: 150px auto 30px auto;
        font-size: 65px;
        line-height: 70px;
        text-align: center;
    }

    .homepage-hero-subtitle {
        position: initial;
        text-align: center;
        margin: 0 auto;
    }

    /* END HERO */

    /* START CARDS */ 

    .homepage-cards-wrapper {
        flex-basis: 200px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .homepage-card {
        width: 265px;
        margin-top: 30px;
    }

    /* END CARDS */

    /* START BIO */

    .homepage-bio {
        flex-direction: column;
    }

    .homepage-bio > img {
        width: 300px;
    }

    .homepage-bio-body {
        font-size: 20px;
        line-height: 35px;
        /* width: 500px; */
    }

    .homepage-contact-wrapper {
        justify-content: flex-start;
    }

    .homepage-contact-info {
        font-size: 18px;
    }

    .homepage-contact-icon {
        height: 20px;
    }
    

    /* END BIO */

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* START HERO */

    .homepage-hero-title {
        left: 50px;
        font-size: 70px;
    }

    .homepage-hero-subtitle {
        left: 50px;
        font-size: 18px;
        width: 400px;
    }

    /* END HERO */

    /* START CARDS */

    .homepage-card .card-body {
        font-size: 15px;
    }

    .homepage-card .card-icon-wrapper > img {
        width: 30px;
    }

    .homepage-card .card-title {
        font-size: 25px;
        margin-bottom: 20px;
    }

    /* END CARDS */

    /* START BIO */

    .homepage-bio-body {
        font-size: 20px;
        line-height: 35px;
        margin-left: 30px;
    }

    .homepage-bio > img {
        width: 300px;
    }

    .homepage-contact-info {
        font-size: 18px;
    }

    .homepage-contact-icon {
        height: 20px;
    }

    /* END BIO */

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    /* START HERO */
    .homepage-hero-title {
        left: 100px;
    }

    .homepage-hero-subtitle {
        left: 100px;
    }

    /* END HERO */

    /* START HOMEPAGE CARDS */

    .homepage-cards-wrapper {
        width: 90%;
    }

    /* END HOMEPAGE CARDS */

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}