@import "globals.css";

/* START HERO */
.press-clippings-hero {
    background-image: url("../images/press-clippings-hero-image.png");
    height: 500px;
    background-size: cover;
    background-position: center center;
    margin-top: 120px;
    overflow: hidden;
}

.press-clippings-hero-title {
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
}

.press-clippings-hero-subtitle {
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
}

/* END HERO */

/* START SECTION 1 */

.press-clippings-title {
    max-width: 900px;
    margin: 30px auto 10px auto;
}

.press-clippings-row {
    display: flex;
    flex-direction: row;
    max-width: 900px;
    margin: 20px auto 50px auto;
}

.press-cllippings-section1-image {
    width: 300px;
}

.press-clippings-section-1-text {
    padding-right: 50px;
    font-size: 17px;
}

/* END SECTION 1 */

/* START SECTION 2 */

.press-clippings-section2-image {
    width: 200px;
}

.press-clippings-section-2-text {
    padding-right: 50px;
}

/* END SECTION 2 */

/* START SECTION 3 */

.press-cllippings-section3-image {
    width: 450px;
}

/* END SECTION 3 */

/* START SECTION 4 */

.press-clippings-section-4-text > img {
    float: right;
    top: 0;
    width: 300px;
    padding: 0px 0px 20px 20px;
}

/* END SECTION 4 */

/* START FREE CLIPS */ 
.free-clip-image {
    margin: 0 auto;
    display: block;
}
/* END FREE CLIPS */

/* START BREAKPOINTS */

/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

@media (max-width: 576px) {

    /* START HERO */

    .press-clippings-hero {
        margin-top: 20px;
    }

    /* END HERO */

    /* START PRESS CLIPPINGS */

    #press-clippings-section-2 > .press-clippings-row {
        flex-direction: column-reverse;
    }

    .press-clippings-section2-image {
        margin: 0 auto;
        max-height: 300px;
    }

    .press-cllippings-section3-image {
        max-height: 300px;
    }

    .press-clippings-section-4-text > img {
        padding: 0;
        width: 90%;
        margin: 0 auto 30px auto;
        display: block;
        float: none;
    }

    /* END PRESS CLIPPINGS */

}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

    /* START SECTION 1 */

    #press-clippings-section-1 > .press-clippings-row {
        flex-direction: column;
    }

    .press-clippings-col {
        display: flex;
        flex-direction: row
    }

    .press-cllippings-section1-image {
        width: 50%;
    }

    /* END SECTION 1 */

    /* START HERO */

    .press-clippings-hero-title {
        font-size: 40px;
        width: 90%;
        margin: 150px auto 50px auto;
    }

    .press-clippings-hero-subtitle {
        width: 90%;
        margin: 0 auto;
    }

    /* END HERO */
    
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {

    /* START PRESS CLIPPINGS */

    .press-clippings-title {
        width: 90%;
    }

    .press-clippings-row {
        width: 90%;
    }

    .press-clippings-section-1-text {
        padding: 0;
    }

    .free-clip-image {
        width: 90%;
    }

    .press-cllippings-section3-image {
        width: 50%;
    }

    /* END PRESS CLIPPINGS */
}


/* END BREAKPOINTS */