@import "globals.css";

/* START HERO */

.speaking-hero {
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 130px auto 50px auto;
}

.speaking-hero-image {
    height: 400px;
    margin-right: 200px;
}

.speaking-hero-title {
    font-size: 50px;
    width: 700px;
    text-align: center;
    margin-right: 40px;
}

.speaking-hero-subtitle {
    text-align: center;
}

.speaking-hr {
    width: 1000px;
    border: 1px solid #0C1829;
}

/* END HERO */

/* START SPEAKING IDEAS */

.speaking-ideas-cards-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px auto;
    max-width: 1000px;
}

.speaking-ideas-title {
    font-family: "Bodoni 72 Oldstyle;";
    font-size: 38px;
    font-weight: lighter;
    text-align: center;
    margin-top: 90px;
}

.speaking-ideas-text {
    text-align: center;
    font-family: "Cochin";
    font-size: 22px;
    font-weight: lighter;
    width: 900px;
    margin: 50px auto;
}

.speaking-ideas-subtitle {
    text-align: center;
    font-family: "Bodoni 72 Oldstyle;";
    font-size: 32px;
    font-weight: lighter;
    margin-top: 100px;
}

.speaking-ideas-card {
    width: 300px;
    height: 400px;
    background: #1A3152; 
}


.speaking-ideas-card-icon-wrapper {
    margin: 20px auto auto auto;
    text-align: center;
}

.speaking-ideas-card-icon {
    margin: 0 auto;
}

.speaking-ideas-card-text {
    color: #ffffff;
    padding: 30px;
    font-family: "Cochin";
    font-size: 18px;
    text-align: center;
}

/* END SPEAKING IDEAS */

/* START OUT OF BOX */

.speaking-out-of-box-title {
    text-align: center;
    font-family: "Bodoni 72 Oldstyle";
    font-size: 60px;
    font-weight: lighter;
    margin-bottom: 10px;
}

.speaking-out-of-box-subtitle {
    text-align: center;
    font-family: "Copperplate";
    font-size: 27px;
    font-weight: lighter;
    margin-top: 0px;
}

.speaking-out-of-box-wrapper {
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin: 80px auto;
}

.speaking-out-of-box-text {
    font-family: "Cochin";
    font-size: 22px;
    margin-right: 70px;
    margin-left: 20px;
}

.speaking-out-of-box-title-2 {
    font-family: "Bodoni 72 Oldstyle";
    font-size: 33px;
    text-align: center;
    font-weight: lighter;
    width: 1000px;
    margin: 0 auto 50px auto;
}

.speaking-out-of-box-youtube-video {
    width: 1000px;
    height: 562.5px;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 11px 24px #00000072;
}

.speaking-outofbox-cards-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    max-width: 1100px;
    margin: 50px auto 0px auto;
}

.speaking-outofbox-card {
    width: 350px;
    height: 300px;
    background-color: #1A3152;
}

.speaking-outofbox-card-title {
    text-align: center;
    color: #ffffff;
    text-decoration: underline;
    font-family: "Bodoni 72 Oldstyle";
    font-size: 23px;
    font-weight: lighter;
}

.speaking-outofbox-card-text {
    color: #ffffff;
    text-align: center;
    padding: 10px 20px 0px 20px;
    font-family: "Cochin";
    font-weight: lighter;
    font-size: 17px;
}

/* END OUT OF BOX */

/* START PHOTOS */

.speaking-photos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 100px;
    margin: 0 auto 50px auto;
    max-width: 1100px;
}

.speaking-photos-photo-wrapper {
    text-align: center;
}

.speaking-photos-caption {
    margin-top: 0px;
    font-weight: lighter;
}

.speaking-photos-title {
    text-align: center;
    font-family: "Bodoni 72 Oldstyle";
    font-size: 60px;
    font-weight: lighter;
}

/* END PHOTOS */

/* START BREAKPOINTS */

/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 376px) {

}

@media (max-width: 576px) {

    /* START SPEAKING IDEAS */

    .speaking-ideas-subtitle {
        width: 90%;
        text-align: center;
        margin: 50px auto;
    }

    /* END SPEAKING IDEAS */

    /* START PHOTOS */

    .speaking-photos-photo {
        width: 300px !important;
    }

    /* END PHOTOS */


}

/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {

    /* START HERO */

    .speaking-hero-image {
        display: none;
    }

    .speaking-hero-title {
        margin: 40px auto;
    }

    .speaking-hero-text-wrapper {
        margin: 0 auto !important;
    }

    /* END HERO */

    /* START SPEAKING IDEAS */

    .speaking-ideas-cards-wrapper {
        flex-direction: column;
    }

    .speaking-ideas-card {
        width: 90% !important;
        margin: 0 auto;
    }

    /* END SPEAKING IDEAS */

    /* START OUTOFBOX */

    .speaking-out-of-box-title, .speaking-out-of-box-subtitle {
        width: 90%;
        margin: 20px auto;
        /* text-align: left; */
    }

    .speaking-out-of-box-title {
        font-size: 50px;
        margin-top: 80px;
    }

    .speaking-out-of-box-text {
        margin: 30px 0;
    }

    .speaking-out-of-box-wrapper {
        flex-direction: column;
        margin-top: 20px;
    }

    .speaking-out-of-box-image {
        height: auto !important;
        width: 70%;
        margin: 0 auto;
    }

    .speaking-outofbox-cards-wrapper {
        grid-template-columns: 1fr;
        margin: 50px auto;
    }

    .speaking-outofbox-card {
        height: auto;
        padding-bottom: 20px;
        margin: 0 auto;
    }

    .filler-card {
        display: none;
    }

    /* END OUTOFBOX */


}

/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {

    /* START HERO */
    
    .speaking-hero {
        width: 90%;
    }

    .speaking-hero-title {
        width: 100%;
    }

    .speaking-hero-text-wrapper {
        margin-right: 20px;
    }

    .speaking-hero-image {
        margin-right: 10px;
    }

    .speaking-hr {
        width: 90%;
    }

    /* END HERO */

    /* START SPEAKING IDEAS */

    .speaking-ideas-title {
        width: 90%;
        margin: 90px auto 30px auto
    }

    .speaking-ideas-text {
        width: 90%;
    }

    .speaking-ideas-cards-wrapper {
        width: 90%;
        flex-wrap: wrap;
        /* justify-content: center; */
    }

    .speaking-ideas-card {
        width: 48%;
        height: auto;
        margin-bottom: 40px;
    }

    /* END SPEAKING IDEAS */

    /* START OUTOFBOX */

    .speaking-out-of-box-wrapper {
        width: 90%;
    }

    .speaking-out-of-box-title-2 {
        width: 90%;
    }

    .speaking-out-of-box-youtube-video {
        width: 90%;
    }

    .speaking-outofbox-cards-wrapper {
        width: 90%;
    }

    .speaking-outofbox-card {
        width: 90%;
        height: auto;
    }

    .speaking-out-of-box-wrapper {
        /* flex-direction: column; */
    }

    .speaking-out-of-box-image {
        height: 400px;
    }

    /* END OUTOFBOX */

    /* START PHOTOS */

    .speaking-photos-grid {
        width: 90%;
        grid-template-columns: 1fr;
    }

    .speaking-photos-photo {
        width: 400px;
    }

    /* END PHOTOS */

}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
}

/* END BREAKPOINTS */